# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon
Thumbs.db
.idea

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# NetBeans
/nbproject
/build
/nbbuild
/dist
/nbdist
nbactions.xml
nb-configuration.xml

# SublimeText project files
*.sublime-workspace

# Composer
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock

# Packages
_ide_helpers.php
_ide_helper.php